/* ------------------------------------------------
 LEAVE IN PLACE --------------------------------- */
 body {
    -webkit-tap-highlight-color: transparent;
}

.outer-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}
/* --------------------------------------------- */

#body_expanded .jp-addon-pseudo-body {
    background: skyblue;
}
